<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
<header class="header">
    <p class="header__logo">Users app</p>
    <div class="header__filter-container">
        <form id="filter" action="/users" method="get">
            <div>
                <input placeholder="age" id="ageFilter" name="age" type="number" value="">
            </div>
            <div>
                <input placeholder="city" id="cityFilter" name="city" type="text">
            </div>
            <input type="submit" value="filter"/>
        </form>
    </div>
    <div class="header__nav">
        <ul class="header__nav-group">
            <li class="header__nav-item"><a href="/">home</a></li>
        </ul>
    </div>
</header>
<div class="user__wrapper">
    {{#each users}}
        <div class="user__wrapper-card">
            <span class="user__wrapper-card__title">Userinfo:</span>
            <p>name: {{this.firstName}}</p>
            <p>surname: {{this.lastName}}</p>
            <p>age: {{this.age}}</p>
            <p>city: {{this.city}}</p>
            <a href="/users/{{this.id}}">show more</a>
        </div>
    {{/each}}
</div>
</body>
</html>
